.change-color-top {
	color: #004c99;
}

.navbar {
	border-radius: 0px;
}

.navbar--color {
	i {
		color: white;
	}
}

.icon-menu--color {
	color: #0081cb;
}

.navbar-brand{
	img{
		margin-top: -6px;
	}
}