div#services {
	//border-top: 2px solid #009688;
	//border-bottom: 2px solid #004c99;
	h3 {
		color: #004c99;
		&::before {
			border-bottom: 2px solid red;
		}
	}
	section {
		.card-body {
			h4 {
				font-size: 18px;
				color: #004c99;
				font-weight: bold;
			}
			p {
				font-size: 14px;
				color: #37474f;
			}
		}

		img {
			/*border-radius: 50%;*/
			width: 80px;
			height: 80px;
			margin: 0 auto;
		}

		.hbs-services {
			border: 1px solid rgba(96, 125, 139, 0.32);
			border-radius: 7px;
			margin-bottom: 20px;
			padding-top: 15px;
			.card-footer {
				background: white;
				border-top: 1px solid transparent;
				border-radius: 10px;
			}
		}
		.mb-1 {
			margin-bottom: 30px;
		}
	}
}

